<div class="container">
  <div class="col-md-8 well">
    <h2>Welcome, <%= @user.name %>!</h2>
    <h4>Email: <%= @user.email %></h4>
    <%= User.most_destinations %> has written the most food travel stories!
  </div>
</div>
