<% if @destination.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger alert-devise">
      The form contains <%= pluralize(@destination.errors.count, "error") %>.
    </div>
    <ul>
    <% @destination.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
