<div class="container">
  <!-- <div class=" well col-sm-6">
    <%= form_for(@food) do |f| %>
      <p><strong>Food Name</strong> <%=f.text_field :name, class: 'form-control' %><br></p>
      <p><strong>Type of Food</strong> <%= f.text_field :category, class: 'form-control' %><br></
      <%= f.submit, class: "btn btn-md btn-primary" %>
    <% end %>
  </div> -->
</div>
