<% @destinations.each do |destination| %>
    <p><%= link_to destination.food.name, food_path(destination.food), class: "food_name" %>
    <div id="content-<%= destination.id %>"><%= truncate destination.content %></div><br>
    <button class="js-more btn btn-small btn-primary" data-id="<%= destination.id %>">More ...</button>
    </p>
  <% end %>
