<div class="container">
  <div class=" well col-sm-12">
    <% @destinations.each do |destination| %>
      <p><%= link_to destination.title, destination_path(destination) %>
      <div id="content-<%= destination.id %>"><%= destination.content %></div><br>
    <% end %>
  </div>
</div>
