<% @destinations.each do |destination| %>
  <p><%= destination.title %></p>
  <p><%= destination.content %></p>
  <p><%= destination.location %></p>
  <p><%= destination.recommendation %></p>
<% end %>
